body {
    background-color: #797C80;
    -ms-overflow-style: scrollbar;
    -webkit-app-region:drag;
}

.openButton {
    color: #4E5052;
}

/* The sidebar menu */
.main {
    height: 50%;
    width: 100%;
    top: 50%;    
    right: 50%;
    /*
    height: 100%; 
    width: 160px; 
    position: fixed; 
    z-index: 1;
    top: 0; 
    right: 0;
    background-color: #4E5052; 
    overflow-x: hidden; 
    padding-top: 20px;
    */
  }
