body {
    background-color: #797C80;
    -ms-overflow-style: scrollbar;
    -webkit-app-region:drag;
}

.openButton {
    background-color: #4E5052;
}

.openPara {
    
}

.main {
    height: 100%;
    width: 100%;
    position: fixed;
    padding-top: 30%;
    top: 0; 
    left: 0;
  }
